@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --main-bg-color: brown;
    --main-font: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    
}

.container-1{
    position: relative;
    
}

.div-1{
    background-color: #2D2F31;
    height: 50vh;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    
    justify-content:flex-start;
    align-items: center;
    
    font-family: var(--main-font);
    
}

.sec-1{
    color: #ffffff;
}

.sec-3{
    color: #F69C08;
}

.div-2{
    padding-top: 40px;
    position: relative;
    margin-left: 10%;
    
    width: 700px;
}

.mar-1{
    margin-left: 10%;
    margin-right: 10%;

}

.container-2{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 600px;
    position: fixed;
    right: 0;
    top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 0 10px #888888;
    
}

.container-2 .image{
    width: 350px;
    height: 200px;
    background: url(images/img-2.jpg);
    background-size: cover;
}

.container-2 .sec-2{
    padding: 20px;
}

.sec-2{
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
}




.sec-2 button{
    font-size: 20px;
    background-color: #2D2F31;
    color: #ffffff;
    padding: 5px 15px;
}


.first-text{
    font-family: var(--main-font);
    border: 1px solid #D1D7DC;
    padding: 20px;
    padding: 20px 60px 20px 20px;
}

.text-h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.col{
    font-size: 15px;
    
}

.row-text{
    display: flex;
    justify-content: space-between;
}

.sec-4{
    margin-top: 0;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 15px;
}

.sec-4 span{
    margin-right: 10px;
    
}

.link-sec-2 {
    margin-top: 10px;
}

.link-sec-2 a{
    text-decoration: none;
    margin-right: 10px;
    color: #2D2F31;
    font-weight: 600;
    padding-top: 10px;
    border-bottom: 1px solid #000
}

